/* Estilos básicos del body */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: rgba(0, 0, 0, 0.3); 
    color: #fff;
    padding: 0;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Fondo de la página */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://wallpapers.com/images/hd/beautiful-clouds-bbwrhd5aq74gth8i.jpg');
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
}

/* Cabecera */
header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
}

/* Contenedor principal */
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

/* Estilos para los párrafos */
.contenedor p {
    font-family: "Roboto", serif;
    font-size: 1.8rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
}

/* Hora actual */
#horaActual {
    margin-top: -10px;
    font-size: 1.3rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
}

/* Contenedor de aplicaciones */
.appContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.appContainer img {
    width: 40px;
}

.appName {
    font-size: 1.5rem;
    font-style: italic;
}

/* Detalles de temperatura */
.sectionMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 2rem 1rem;
    text-align: center;
}

.temperaturaFinal {
    margin-top: -10px;
    font-family: "Roboto", serif;
    font-weight: bold;
    font-size: 7rem; 
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6); 
}

.temps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: -8rem;
    font-size: 2rem;
    font-style: italic;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Detalles adicionales */
#details {
    margin-top: -2rem;
    font-size: 1.5rem;
}

.detalles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.detalles ul {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 10px;
}

.detalles ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
}

/* Estilos para las cartas */
.cartas {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 90%;
    background-color: rgba(255, 255, 255, 0.85); 
    border: 2px solid rgba(106, 106, 106, 0.561);
    border-radius: 20px;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.cartas:hover {
    transform: scale(1.05); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}

.cartas img {
    width: 40px; 
    transition: transform 0.3s ease;
}

.cartas img:hover {
    transform: rotate(360deg); 
}

.cartas p {
    font-weight: bolder;
    font-size: 25px;
    color: #333;
    transition: color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.cartas:hover p {
    font-weight: bold;
    color: #0055c4; 
}

/* Media Queries para dispositivos móviles */

@media (max-width: 768px) {

    .detalles ul {
        flex-direction: row; 
        gap: 30px;
    }

    .appContainer {
        flex-direction: row;
        align-items: center;
    }

    .appName {
        font-size: 1.3rem; 
    }
}

/* Para pantallas muy pequeñas*/
@media (max-width: 480px) {
    .cartas {
        width: 100%; 
        
    }

    .cartas li {
        width: 20%; 
    }
}